<!DOCTYPE html>
<html>
    <head>
        <title>XITTO TRAVEL</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="LOGO XITTO TRAVEL">
        </header>
        {{{body}}}    
    </body>
</html>